pyyaml>6.0.0
vllm>=0.7.0
openai
anthropic
datasets
# ifeval
setuptools_scm
nltk
langdetect
pythainlp
kss
sacrebleu[ja]
sacrebleu[ko]
immutabledict
pebble
python-crfsuite
# evalplus
termcolor
appdirs
tree_sitter>=0.22.0
tree-sitter-python
fire
# arenahard
shortuuid
